.overlay {
  width: 33.33%;
  height: 109.5vh;
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  z-index: 10;
  transform: translateX(100%);
  transition: 0.4s ease-in-out;

  background: #fff;

  box-shadow: 5px 5px 20px;

  &.show {
    transform: translateX(0);
  }

  .icons {
    position: absolute;
    top: 10px;
    right: 10px;

    :hover {
      cursor: pointer;
    }
  }
  h1 {
    padding: 5px 0px;
    font-size: 2vw;
    font-weight: bold;
  }
  .overlaydata {
    margin: 9vw 3vw;

    .line {
      width: 100%;
      height: 2px;
      background-color: gray;
    }

    .products {
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        margin: 20px 0px 3px;
        font-size: 18px;
      }
    }
    .total {
      display: flex;
      justify-content: space-between;
      margin: 20px 0px 3px;

      h2 {
        font-size: 2vw;
        font-weight: bold;
      }
    }
  }

  span {
    background-color: rgb(47, 255, 47);
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 22px;
    font-weight: bolder;
    color: #fff;
    margin-left: 4px;
  }

  .btn {
    display: flex;
    justify-content: center;

    button {
      width: 100%;
      margin-top: 3rem;
      padding: 12px 24px;
      font-size: 40px;
      font-weight: lighter;
      color: white;
      background-image: linear-gradient(to right, #fc00ff, #057779);
      border: none;
    }
  }
}
